body{
    margin: 30px 0px 0px 50px;
    font-family: 'Roboto', sans-serif;
    width: 700px;
}

/*------------------Header----------------------*/
header{
    background-color: #2F783A;
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 260px;
    color: white;
}

.header--title{
    font-weight: 500;
    font-size: 16px;
}

.header--logo{
    height: 22px;
    margin-right: 8px;
}