body{
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

/*------------------Header----------------------*/
header{
    background-color: #2F783A;
    display: flex;
    align-items: center;

    padding: 10px 0px 10px 0px;
    color: white;
}

.header--title{
    font-weight: 500;
    font-size: 16px;

    margin-right: auto;
}

.header--logo{
    height: 22px;
    margin-right: 8px;
    margin-left:auto;

}

/*----------------Places-----------------------*/
.places{
    margin: 10% 10% 0 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.places--photo{
    width: 25%;
    margin-right: 4%;
    border-radius: 6%;
}

.places--location{
    font-weight: normal;
    font-size: 0.75rem;
    letter-spacing: 0.1rem;
}

.places--description{
    width: 30%;
}